@model CcAvenueViewModel
<form method="post" id="paymentForm"
      action="@Model.CheckoutUrl">
    <input type="hidden" id="encRequest"
           name="encRequest" value="@Model.EncryptionRequest" />
    <input type="hidden" id="access_code"
           name="access_code" value="@Model.AccessCode" />
    <input  type="submit" value="++++" />
</form>
<div class="row" style="text-align:center">
    <div class="small-12 large-12">
        <h2 class="text-center">Processing...</h2>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        console.log("ready!");
        $(window).on("load", $("#paymentForm").submit());
    });
    //var x = 0;
    //if (x == 0) {
    //   // $("#paymentForm").submit();
    //}

    //x = 1;
</script>