
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut</title>
</head>
<body>
    @using (Html.BeginForm("ShowPaymentPage", "Home", FormMethod.Post))
    {<button type="submit">Pay</button>}
</body>
</html>
    