
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment Canceled</title>
</head>
<body>

    Payment Canceled
</body>
</html>
