
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentCofirmation</title>
</head>
<body>

    Payment Confirmed
</body>
</html>
